*{
  margin:0 auto;
}
.cointainer{
 background-color: skyblue;

  height:500px;

  width:500px;

  text-align:center;

}

.title{

 background-color: yellowgreen;

   height:50px;

  width:500px;

  color:blueviolet;

}

.city{
  margin-top: 82px;
  height: 40px;
  width: 345px;
  margin-left: 42px;
  font-size: 30px;
}

.submit{
margin-top:20px;
width:350px;
height:40px;
font-size: 30px;
margin-left:40px;
}

.tfull{
  width:100px;
  height:50px;
}
.display{
  border:1px solid aliceblue;
  width: 315px;
  height: 100px;
  margin-left: -102px;
  padding: 15px;
  margin-top: 15px;
}
.display p{
  color:white;
  font-size: 30px;
}
#user{
  margin-top: 40px;
}
.error{
  color: red;
  
}
